template(name="rawtext")
  .rawtext
     form.js-rawtext-form
       +editor(class="js-rawtext-input")
       .add-controls
         button.primary.confirm.clear.js-add-rawtext(type="submit") {{_ "Submit"}}